*{
	margin: 0;
	padding: 0;
	border: 0;
}

.containerMenu{
    display: flex;
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
section{
    background: white;
}
.containerMenu .containerLogo{
    background: none;
    width: 81px;
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.containerMenu .containerLogo img{
    background: white;
    width: 28px;
    height: 44px;
}
.textMenu{
    background: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 27px;
}
.textMenu img{
    background: white;
}
.textMenu .menu{
    background: white;
    width: 28px;
    height: 28px;
    left: 50px;
}
.textMenu p{
    background: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #017849;
}
.textMenu p span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #017849;
}
.containerMenu .textMenu p span img{
    background: white;
    margin-left: 15px;
}
.ListAdd{
    background: #00995D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 28px;
}
.list{
    display: none;
    position: absolute;
    width: 275px;
    height: 100%;
    background: #00995D;
    top: 81px;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    justify-content:center;
}
.list.active {
    display: block;
}
.listItemsMenu{
    background: #00995D;
}
.list .listItemsMenu a{
    color: white;
    background: #00995D;
    margin-top: 42px;
    margin-right: 40px;
    display: flex;
}
.list .listItemsMenu p{
    color: white;
    background: #00995D;
    margin-top: 42px;
    margin-right: 40px;
    display: flex;
}
.list .listItemsMenu .hasSubMenu{
    cursor: pointer;
}
.list .listItemsMenu .subMenu{
    background: #017849;
    display: none;
}
.list .listItemsMenu .subMenu.active {
    display: block;
}
.list .listItemsMenu .subMenu span{
    padding: 5px;
    color: white;
    background: #017849;
    display: flex;
}
.list .listItemsMenu .subMenuMax{
    background: #017849;
    display: none;
}
.list .listItemsMenu .subMenuMax.active {
    display: block;
}
.list .listItemsMenu .subMenuMax span{
    padding: 5px;
    color: white;
    background: #017849;
    display: flex;
}
.list .listItemsMenu .MenuText {
    margin: 10px;
    color: white;
    margin-left: 70px;
}
.list .listItemsMenu span img{
    background: #00995D;
    margin-left: 110px;
}